In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2021_registered_companies.csv')

In [3]:
states = sorted(df['state'].unique())

In [4]:
states_dict = {
    "AN":"Andaman and Nicobar Islands",
    "AP":"Andhra Pradesh",
    "AR":"Arunachal Pradesh",
    "AS":"Assam",
    "BR":"Bihar",
    "CG":"Chandigarh",
    "CH":"Chhattisgarh",
    "DN":"Dadra and Nagar Haveli",
    "DD":"Daman and Diu",
    "DL":"Delhi",
    "GA":"Goa",
    "GJ":"Gujarat",
    "HR":"Haryana",
    "HP":"Himachal Pradesh",
    "JK":"Jammu and Kashmir",
    "JH":"Jharkhand",
    "KA":"Karnataka",
    "KL":"Kerala",
    "LA":"Ladakh",
    "LD":"Lakshadweep",
    "MP":"Madhya Pradesh",
    "MH":"Maharashtra",
    "MN":"Manipur",
    "ML":"Meghalaya",
    "MZ":"Mizoram",
    "NL":"Nagaland",
    "OR":"Odisha",
    "PY":"Puducherry",
    "PB":"Punjab",
    "RJ":"Rajasthan",
    "SK":"Sikkim",
    "TN":"Tamil Nadu",
    "TS":"Telangana",
    "TR":"Tripura",
    "UP":"Uttar Pradesh",
    "UK":"Uttarakhand",
    "WB":"West Bengal"
}

In [5]:
states_dict

{'AN': 'Andaman and Nicobar Islands',
 'AP': 'Andhra Pradesh',
 'AR': 'Arunachal Pradesh',
 'AS': 'Assam',
 'BR': 'Bihar',
 'CG': 'Chandigarh',
 'CH': 'Chhattisgarh',
 'DN': 'Dadra and Nagar Haveli',
 'DD': 'Daman and Diu',
 'DL': 'Delhi',
 'GA': 'Goa',
 'GJ': 'Gujarat',
 'HR': 'Haryana',
 'HP': 'Himachal Pradesh',
 'JK': 'Jammu and Kashmir',
 'JH': 'Jharkhand',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'LA': 'Ladakh',
 'LD': 'Lakshadweep',
 'MP': 'Madhya Pradesh',
 'MH': 'Maharashtra',
 'MN': 'Manipur',
 'ML': 'Meghalaya',
 'MZ': 'Mizoram',
 'NL': 'Nagaland',
 'OR': 'Odisha',
 'PY': 'Puducherry',
 'PB': 'Punjab',
 'RJ': 'Rajasthan',
 'SK': 'Sikkim',
 'TN': 'Tamil Nadu',
 'TS': 'Telangana',
 'TR': 'Tripura',
 'UP': 'Uttar Pradesh',
 'UK': 'Uttarakhand',
 'WB': 'West Bengal'}

In [6]:
df['state'] = df['state'].replace(states_dict)

In [7]:
sorted(df['state'].unique())

['Andaman & Nicobar',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'CT',
 'Chandigarh',
 'Chattisgarh',
 'Chhattisgarh',
 'Dadra & Nagar Haveli',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'LH',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Orissa',
 'Pondicherry',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'TG',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'UR',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [8]:
Andaman & Nicobar Island

SyntaxError: invalid syntax (<ipython-input-8-f4c278c79aba>, line 1)

In [9]:
df['state'] = df['state'].replace({'Andaman & Nicobar':'Andaman & Nicobar Island',
                                   'Andaman and Nicobar Islands': 'Andaman & Nicobar Island', 
                                  'Chattisgarh':'Chhattisgarh',
                                  'CT':'Chhattisgarh',
                                  'Dadra and Nagar Haveli':'Dadara & Nagar Havelli',
                                  'Jammu and Kashmir':'Jammu & Kashmir',
                                  'Orissa':'Odisha',
                                  'Pondicherry':'Puducherry',
                                  'TG': 'Telangana',
                                  'UR': 'Uttarakhand',
                                  'LH':'Ladakh'})

In [10]:
len(df['state'].unique())

37

In [11]:
states_dict

{'AN': 'Andaman and Nicobar Islands',
 'AP': 'Andhra Pradesh',
 'AR': 'Arunachal Pradesh',
 'AS': 'Assam',
 'BR': 'Bihar',
 'CG': 'Chandigarh',
 'CH': 'Chhattisgarh',
 'DN': 'Dadra and Nagar Haveli',
 'DD': 'Daman and Diu',
 'DL': 'Delhi',
 'GA': 'Goa',
 'GJ': 'Gujarat',
 'HR': 'Haryana',
 'HP': 'Himachal Pradesh',
 'JK': 'Jammu and Kashmir',
 'JH': 'Jharkhand',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'LA': 'Ladakh',
 'LD': 'Lakshadweep',
 'MP': 'Madhya Pradesh',
 'MH': 'Maharashtra',
 'MN': 'Manipur',
 'ML': 'Meghalaya',
 'MZ': 'Mizoram',
 'NL': 'Nagaland',
 'OR': 'Odisha',
 'PY': 'Puducherry',
 'PB': 'Punjab',
 'RJ': 'Rajasthan',
 'SK': 'Sikkim',
 'TN': 'Tamil Nadu',
 'TS': 'Telangana',
 'TR': 'Tripura',
 'UP': 'Uttar Pradesh',
 'UK': 'Uttarakhand',
 'WB': 'West Bengal'}

In [12]:
df.to_csv('indian_startups.csv', index=False)

In [13]:
df

,company_uid,date_of_registration,month_name,state,roc,category,class,company_type,authorized_capital,paidup_capital,activity_code,activity_description
0,b928b473-d6d6-4b92-a63d-d262bf30c24b,19/01/21,Jan-21,Telangana,RoC-Hyderabad,Company limited by Shares,Private,Non-govt company,1500000.0,102000.0,45309.0,Construction
1,9696190f-7478-4d61-81f1-fc4eb08cce13,25/01/21,Jan-21,Tamil Nadu,RoC-Chennai,Company limited by Shares,Private,Non-govt company,100000.0,3000.0,74994.0,Business Services
2,59de4ca1-c15f-4d6d-8de3-03319793c884,14/01/21,Jan-21,Maharashtra,RoC-Pune,Company limited by Shares,Public,Non-govt company,500000.0,500000.0,65990.0,Finance
3,e28b4caa-b7f9-4faf-8bbe-b12028177417,25/01/21,Jan-21,Telangana,RoC-Hyderabad,Company limited by Shares,Private,Non-govt company,1000000.0,10000.0,72900.0,Business Services
4,e1861c6f-c2a0-4a89-81e9-b39f11b1b6c6,19/01/21,Jan-21,Jammu & Kashmir,RoC-Jammu,Company limited by Shares,Private,Non-govt company,500000.0,500000.0,72900.0,Business Services
...,...,...,...,...,...,...,...,...,...,...,...,...
54889,da22033b-93c5-460d-b08b-8d58c91b2052,30/04/21,Apr-21,Tamil Nadu,RoC-Coimbatore,Company limited by Shares,Private,Non-govt company,100000.0,100000.0,15136.0,Manufacturing (Food stuffs)
54890,7d744075-e78f-45d0-9b9b-eaaf2b17a4d8,08/04/21,Apr-21,Delhi,RoC-Delhi,Company limited by Shares,Private,Non-govt company,500000.0,1589455.0,72900.0,Business Services
54891,336796bb-6f67-4f4f-906e-f01605814266,08/04/21,Apr-21,Maharashtra,RoC-Pune,Company limited by Shares,Private,Non-govt company,500000.0,1589455.0,20299.0,Manufacturing (Wood Products)
54892,e248cdb7-39a9-4b11-b7ff-b967f887cce0,08/04/21,Apr-21,Haryana,RoC-Delhi,Company limited by Shares,Private,Non-govt company,500000.0,1589455.0,33309.0,Manufacturing (Machinery & Equipments)
54893,53e5ee51-be3d-4acf-a3fc-e55f4b127aab,08/04/21,Apr-21,Delhi,RoC-Delhi,Company limited by Shares,Private,Non-govt company,500000.0,1589455.0,19100.0,Manufacturing (Leather & products thereof)